<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baojia.backstage.orderservice.modules.order.dao.OrdersMapper">

  <resultMap id="gatherMap" type="com.baojia.backstage.domain.order.bo.OrdersBo">
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="orders_mileage" jdbcType="DECIMAL" property="ordersMileage" />
    <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
    <result column="order_status" javaType="INTEGER" property="orderStatus"/>

  </resultMap>

  <!--关联查询订单的分页信息-->
  <select id="complexOrdersPage" resultMap="gatherMap">
    select order_no,order_amount from orders_0
  </select>

  <!--取哪个表的数据-->
  <select id="getOrderById" parameterType="java.util.Map" resultType="com.baojia.backstage.ordersdk.models.OrdersEntity">
    select * from orders_#{num} where order_id=#{orderId}
  </select>
</mapper>