<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baojia.backstage.userservice.modules.user.dao.UserMapper">

    <resultMap id="userMap" type="com.baojia.backstage.ordersdk.models.UserEntity">
        <result column="user_id" property="userId"/>
        <result column="nick_name" property="nickName"/>
        <result column="mobile" property="mobile"/>
        <result column="email" property="email"/>
        <result column="sex" property="sex"/>
        <result column="head_url" property="headUrl"/>
        <result column="register_ip" property="registerIp"/>
        <result column="register_time" property="registerTime"/>
        <result column="register_city_code" property="registerCityCode"/>
        <result column="register_ad_code" property="registerAdCode"/>
        <result column="last_login_ip" property="lastLoginIp"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="last_login_city_code" property="lastLoginCityCode"/>
        <result column="last_login_ad_code" property="lastLoginAdCode"/>
        <result column="from_app" property="fromApp"/>
        <result column="device_type" property="deviceType"/>
        <result column="device_code" property="deviceCode"/>
        <result column="device_model" property="deviceModel"/>
        <result column="app_version" property="appVersion"/>
        <result column="verifty_status" property="veriftyStatus"/>
        <result column="black_status" property="blackStatus"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <select id="selectAll" resultMap="userMap">
        select * from users
    </select>
</mapper>