<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baojia.backstage.depositservice.modules.deposit.dao.DepositApplyMapper" >

    <resultMap id="BaseResultMap" type="com.baojia.backstage.depositsdk.service.models.DepositApply" >
        <id column="did" property="did" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
        <result column="apply_type" property="applyType" jdbcType="SMALLINT" />
        <result column="apply_amount" property="applyAmount" jdbcType="DECIMAL" />
        <result column="apply_user_id" property="applyUserId" jdbcType="BIGINT" />
        <result column="apply_user_name" property="applyUserName" jdbcType="VARCHAR" />
        <result column="capital_reason_id" property="capitalReasonId" jdbcType="BIGINT" />
        <result column="capital_reason_name" property="capitalReasonName" jdbcType="VARCHAR" />
        <result column="apply_node" property="applyNode" jdbcType="VARCHAR" />
        <result column="user_mode" property="userMode" jdbcType="SMALLINT" />
        <result column="user_real_name" property="userRealName" jdbcType="VARCHAR" />
        <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
        <result column="auditing_state" property="auditingState" jdbcType="SMALLINT" />
        <result column="auditing_user_name" property="auditingUserName" jdbcType="VARCHAR" />
        <result column="auditing_user_id" property="auditingUserId" jdbcType="BIGINT" />
        <result column="auditing_note" property="auditingNote" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <resultMap id="gatherMap" type="com.baojia.backstage.domain.deposit.bo.DepositApplyBo" >
        <id column="did" property="did" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
        <result column="apply_type" property="applyType" jdbcType="SMALLINT" />
        <result column="apply_amount" property="applyAmount" jdbcType="DECIMAL" />
        <result column="apply_user_id" property="applyUserId" jdbcType="BIGINT" />
        <result column="apply_user_name" property="applyUserName" jdbcType="VARCHAR" />
        <result column="capital_reason_id" property="capitalReasonId" jdbcType="BIGINT" />
        <result column="capital_reason_name" property="capitalReasonName" jdbcType="VARCHAR" />
        <result column="apply_node" property="applyNode" jdbcType="VARCHAR" />
        <result column="user_mode" property="userMode" jdbcType="SMALLINT" />
        <result column="user_real_name" property="userRealName" jdbcType="VARCHAR" />
        <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
        <result column="auditing_state" property="auditingState" jdbcType="SMALLINT" />
        <result column="auditing_user_name" property="auditingUserName" jdbcType="VARCHAR" />
        <result column="auditing_user_id" property="auditingUserId" jdbcType="BIGINT" />
        <result column="auditing_note" property="auditingNote" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        did, user_id, user_name, user_phone, apply_type, apply_amount, apply_user_id, apply_user_name, 
        capital_reason_id, capital_reason_name, apply_node, user_mode, user_real_name, user_account, 
        auditing_state, auditing_user_name, auditing_user_id, auditing_note, create_time, 
        modify_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from deposit_apply
        where did = #{did,jdbcType=BIGINT}
    </select>
    
    <select id="getDepositApplyPage" resultMap="gatherMap" >
        select * from deposit_apply
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from deposit_apply
        where did = #{did,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.baojia.backstage.depositsdk.service.models.DepositApply" >
        insert into deposit_apply (did, user_id, user_name, 
            user_phone, apply_type, apply_amount, 
            apply_user_id, apply_user_name, capital_reason_id, 
            capital_reason_name, apply_node, user_mode, 
            user_real_name, user_account, auditing_state, 
            auditing_user_name, auditing_user_id, auditing_note, 
            create_time, modify_time)
        values (#{did,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
            #{userPhone,jdbcType=VARCHAR}, #{applyType,jdbcType=SMALLINT}, #{applyAmount,jdbcType=DECIMAL}, 
            #{applyUserId,jdbcType=BIGINT}, #{applyUserName,jdbcType=VARCHAR}, #{capitalReasonId,jdbcType=BIGINT}, 
            #{capitalReasonName,jdbcType=VARCHAR}, #{applyNode,jdbcType=VARCHAR}, #{userMode,jdbcType=SMALLINT}, 
            #{userRealName,jdbcType=VARCHAR}, #{userAccount,jdbcType=VARCHAR}, #{auditingState,jdbcType=SMALLINT}, 
            #{auditingUserName,jdbcType=VARCHAR}, #{auditingUserId,jdbcType=BIGINT}, #{auditingNote,jdbcType=VARCHAR}, 
            #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.baojia.backstage.depositsdk.service.models.DepositApply" >
        insert into deposit_apply
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="did != null" >
                did,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="userName != null" >
                user_name,
            </if>
            <if test="userPhone != null" >
                user_phone,
            </if>
            <if test="applyType != null" >
                apply_type,
            </if>
            <if test="applyAmount != null" >
                apply_amount,
            </if>
            <if test="applyUserId != null" >
                apply_user_id,
            </if>
            <if test="applyUserName != null" >
                apply_user_name,
            </if>
            <if test="capitalReasonId != null" >
                capital_reason_id,
            </if>
            <if test="capitalReasonName != null" >
                capital_reason_name,
            </if>
            <if test="applyNode != null" >
                apply_node,
            </if>
            <if test="userMode != null" >
                user_mode,
            </if>
            <if test="userRealName != null" >
                user_real_name,
            </if>
            <if test="userAccount != null" >
                user_account,
            </if>
            <if test="auditingState != null" >
                auditing_state,
            </if>
            <if test="auditingUserName != null" >
                auditing_user_name,
            </if>
            <if test="auditingUserId != null" >
                auditing_user_id,
            </if>
            <if test="auditingNote != null" >
                auditing_note,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="modifyTime != null" >
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="did != null" >
                #{did,jdbcType=BIGINT},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null" >
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null" >
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="applyType != null" >
                #{applyType,jdbcType=SMALLINT},
            </if>
            <if test="applyAmount != null" >
                #{applyAmount,jdbcType=DECIMAL},
            </if>
            <if test="applyUserId != null" >
                #{applyUserId,jdbcType=BIGINT},
            </if>
            <if test="applyUserName != null" >
                #{applyUserName,jdbcType=VARCHAR},
            </if>
            <if test="capitalReasonId != null" >
                #{capitalReasonId,jdbcType=BIGINT},
            </if>
            <if test="capitalReasonName != null" >
                #{capitalReasonName,jdbcType=VARCHAR},
            </if>
            <if test="applyNode != null" >
                #{applyNode,jdbcType=VARCHAR},
            </if>
            <if test="userMode != null" >
                #{userMode,jdbcType=SMALLINT},
            </if>
            <if test="userRealName != null" >
                #{userRealName,jdbcType=VARCHAR},
            </if>
            <if test="userAccount != null" >
                #{userAccount,jdbcType=VARCHAR},
            </if>
            <if test="auditingState != null" >
                #{auditingState,jdbcType=SMALLINT},
            </if>
            <if test="auditingUserName != null" >
                #{auditingUserName,jdbcType=VARCHAR},
            </if>
            <if test="auditingUserId != null" >
                #{auditingUserId,jdbcType=BIGINT},
            </if>
            <if test="auditingNote != null" >
                #{auditingNote,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.baojia.backstage.depositsdk.service.models.DepositApply" >
        update deposit_apply
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null" >
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null" >
                user_phone = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="applyType != null" >
                apply_type = #{applyType,jdbcType=SMALLINT},
            </if>
            <if test="applyAmount != null" >
                apply_amount = #{applyAmount,jdbcType=DECIMAL},
            </if>
            <if test="applyUserId != null" >
                apply_user_id = #{applyUserId,jdbcType=BIGINT},
            </if>
            <if test="applyUserName != null" >
                apply_user_name = #{applyUserName,jdbcType=VARCHAR},
            </if>
            <if test="capitalReasonId != null" >
                capital_reason_id = #{capitalReasonId,jdbcType=BIGINT},
            </if>
            <if test="capitalReasonName != null" >
                capital_reason_name = #{capitalReasonName,jdbcType=VARCHAR},
            </if>
            <if test="applyNode != null" >
                apply_node = #{applyNode,jdbcType=VARCHAR},
            </if>
            <if test="userMode != null" >
                user_mode = #{userMode,jdbcType=SMALLINT},
            </if>
            <if test="userRealName != null" >
                user_real_name = #{userRealName,jdbcType=VARCHAR},
            </if>
            <if test="userAccount != null" >
                user_account = #{userAccount,jdbcType=VARCHAR},
            </if>
            <if test="auditingState != null" >
                auditing_state = #{auditingState,jdbcType=SMALLINT},
            </if>
            <if test="auditingUserName != null" >
                auditing_user_name = #{auditingUserName,jdbcType=VARCHAR},
            </if>
            <if test="auditingUserId != null" >
                auditing_user_id = #{auditingUserId,jdbcType=BIGINT},
            </if>
            <if test="auditingNote != null" >
                auditing_note = #{auditingNote,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where did = #{did,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.baojia.backstage.depositsdk.service.models.DepositApply" >
        update deposit_apply
        set user_id = #{userId,jdbcType=BIGINT},
            user_name = #{userName,jdbcType=VARCHAR},
            user_phone = #{userPhone,jdbcType=VARCHAR},
            apply_type = #{applyType,jdbcType=SMALLINT},
            apply_amount = #{applyAmount,jdbcType=DECIMAL},
            apply_user_id = #{applyUserId,jdbcType=BIGINT},
            apply_user_name = #{applyUserName,jdbcType=VARCHAR},
            capital_reason_id = #{capitalReasonId,jdbcType=BIGINT},
            capital_reason_name = #{capitalReasonName,jdbcType=VARCHAR},
            apply_node = #{applyNode,jdbcType=VARCHAR},
            user_mode = #{userMode,jdbcType=SMALLINT},
            user_real_name = #{userRealName,jdbcType=VARCHAR},
            user_account = #{userAccount,jdbcType=VARCHAR},
            auditing_state = #{auditingState,jdbcType=SMALLINT},
            auditing_user_name = #{auditingUserName,jdbcType=VARCHAR},
            auditing_user_id = #{auditingUserId,jdbcType=BIGINT},
            auditing_note = #{auditingNote,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where did = #{did,jdbcType=BIGINT}
    </update>
</mapper>