<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baojia.backstage.depositservice.modules.deposit.dao.DepositRecordMapper" >

    <resultMap id="BaseResultMap" type="com.baojia.backstage.depositsdk.service.models.DepositRecord" >
        <id column="did" property="did" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
        <result column="record_type" property="recordType" jdbcType="SMALLINT" />
        <result column="apply_id" property="applyId" jdbcType="BIGINT" />
        <result column="record_amount" property="recordAmount" jdbcType="DECIMAL" />
        <result column="pay_type" property="payType" jdbcType="SMALLINT" />
        <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
        <result column="pay_trade_id" property="payTradeId" jdbcType="VARCHAR" />
        <result column="pay_state" property="payState" jdbcType="SMALLINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        did, user_id, user_name, user_phone, record_type, apply_id, record_amount, pay_type, 
        user_account, pay_trade_id, pay_state, create_time, modify_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from deposit_record
        where did = #{did,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from deposit_record
        where did = #{did,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.baojia.backstage.depositsdk.service.models.DepositRecord" >
        insert into deposit_record (did, user_id, user_name, 
            user_phone, record_type, apply_id, 
            record_amount, pay_type, user_account, 
            pay_trade_id, pay_state, create_time, 
            modify_time)
        values (#{did,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
            #{userPhone,jdbcType=VARCHAR}, #{recordType,jdbcType=SMALLINT}, #{applyId,jdbcType=BIGINT}, 
            #{recordAmount,jdbcType=DECIMAL}, #{payType,jdbcType=SMALLINT}, #{userAccount,jdbcType=VARCHAR}, 
            #{payTradeId,jdbcType=VARCHAR}, #{payState,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, 
            #{modifyTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.baojia.backstage.depositsdk.service.models.DepositRecord" >
        insert into deposit_record
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="did != null" >
                did,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="userName != null" >
                user_name,
            </if>
            <if test="userPhone != null" >
                user_phone,
            </if>
            <if test="recordType != null" >
                record_type,
            </if>
            <if test="applyId != null" >
                apply_id,
            </if>
            <if test="recordAmount != null" >
                record_amount,
            </if>
            <if test="payType != null" >
                pay_type,
            </if>
            <if test="userAccount != null" >
                user_account,
            </if>
            <if test="payTradeId != null" >
                pay_trade_id,
            </if>
            <if test="payState != null" >
                pay_state,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="modifyTime != null" >
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="did != null" >
                #{did,jdbcType=BIGINT},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null" >
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null" >
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="recordType != null" >
                #{recordType,jdbcType=SMALLINT},
            </if>
            <if test="applyId != null" >
                #{applyId,jdbcType=BIGINT},
            </if>
            <if test="recordAmount != null" >
                #{recordAmount,jdbcType=DECIMAL},
            </if>
            <if test="payType != null" >
                #{payType,jdbcType=SMALLINT},
            </if>
            <if test="userAccount != null" >
                #{userAccount,jdbcType=VARCHAR},
            </if>
            <if test="payTradeId != null" >
                #{payTradeId,jdbcType=VARCHAR},
            </if>
            <if test="payState != null" >
                #{payState,jdbcType=SMALLINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.baojia.backstage.depositsdk.service.models.DepositRecord" >
        update deposit_record
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null" >
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null" >
                user_phone = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="recordType != null" >
                record_type = #{recordType,jdbcType=SMALLINT},
            </if>
            <if test="applyId != null" >
                apply_id = #{applyId,jdbcType=BIGINT},
            </if>
            <if test="recordAmount != null" >
                record_amount = #{recordAmount,jdbcType=DECIMAL},
            </if>
            <if test="payType != null" >
                pay_type = #{payType,jdbcType=SMALLINT},
            </if>
            <if test="userAccount != null" >
                user_account = #{userAccount,jdbcType=VARCHAR},
            </if>
            <if test="payTradeId != null" >
                pay_trade_id = #{payTradeId,jdbcType=VARCHAR},
            </if>
            <if test="payState != null" >
                pay_state = #{payState,jdbcType=SMALLINT},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where did = #{did,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.baojia.backstage.depositsdk.service.models.DepositRecord" >
        update deposit_record
        set user_id = #{userId,jdbcType=BIGINT},
            user_name = #{userName,jdbcType=VARCHAR},
            user_phone = #{userPhone,jdbcType=VARCHAR},
            record_type = #{recordType,jdbcType=SMALLINT},
            apply_id = #{applyId,jdbcType=BIGINT},
            record_amount = #{recordAmount,jdbcType=DECIMAL},
            pay_type = #{payType,jdbcType=SMALLINT},
            user_account = #{userAccount,jdbcType=VARCHAR},
            pay_trade_id = #{payTradeId,jdbcType=VARCHAR},
            pay_state = #{payState,jdbcType=SMALLINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where did = #{did,jdbcType=BIGINT}
    </update>
</mapper>